.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.SearchBox input{
  width: 630px;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* result box */
.results {
  max-width: 960px;
  margin: auto;
  box-shadow: 0 0 4px 0 black,
    0 0 2px 0 black;
}

.results ul {
  padding: 0;
  margin: 0;
}

.results ul li {
  list-style: none;
}

.results ul li:not(:last-child) {
  border-bottom: 2px solid black;
}

.results ul li:hover {
  color: white;
  background-color: black;
}

.results ul li h4 {
  margin: 0;
  padding: 4px 0;
}

.results ul li a {
  color: black;
}

.results ul li:hover a {
  color: white;
}
